# Nested json dan csv dosyalarına dönüşüm

## Tüm kolonları pandas ile yazdırma işlemi

In [1]:
import json
import pandas as pd

In [3]:
with open('indir.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

In [5]:
df = pd.json_normalize(data['results'])

In [7]:
df.to_csv('output.csv', index=False, encoding='utf-8-sig')

print("Dostum, CSV dosyası başarıyla oluşturuldu!")
print(f"Toplam Satır: {len(df)}")
print(f"Toplam Sütun: {len(df.columns)}")

Dostum, CSV dosyası başarıyla oluşturuldu!
Toplam Satır: 50
Toplam Sütun: 34

In [9]:
df.head(7)

,gender,email,phone,cell,nat,name.title,name.first,name.last,location.street.number,location.street.name,...,login.sha256,dob.date,dob.age,registered.date,registered.age,id.name,id.value,picture.large,picture.medium,picture.thumbnail
0,male,necati.bethke@example.com,0005-0495667,0170-1346040,DE,Mr,Necati,Bethke,3140,Rosenweg,...,713fef220e679d9889b8f98153d0d1f52538249c71a756...,1949-06-21T05:50:05.635Z,76,2012-11-06T10:17:14.436Z,13,SVNR,56 210649 B 497,https://randomuser.me/api/portraits/men/73.jpg,https://randomuser.me/api/portraits/med/men/73...,https://randomuser.me/api/portraits/thumb/men/...
1,male,reginald.hicks@example.com,061-672-1222,081-376-3454,IE,Mr,Reginald,Hicks,6263,York Road,...,eb688bf3fb5fa9741cbfbaadbcf7df6f5e567aae494bbf...,1954-03-25T03:02:45.297Z,71,2012-12-29T10:14:47.036Z,13,PPS,9681158T,https://randomuser.me/api/portraits/men/64.jpg,https://randomuser.me/api/portraits/med/men/64...,https://randomuser.me/api/portraits/thumb/men/...
2,female,miriam.payne@example.com,07-6621-6201,0411-775-314,AU,Ms,Miriam,Payne,2266,Photinia Ave,...,0297567ba0ec004fc81ff6f6bb0bb5108c128be5433894...,1961-02-23T08:19:14.088Z,64,2013-05-28T07:50:25.136Z,12,TFN,352177099,https://randomuser.me/api/portraits/women/41.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
3,female,thea.li@example.com,(809)-797-6105,(917)-558-4950,NZ,Miss,Thea,Li,8531,Ponsonby Road,...,d72eda091c8f2cde6a27a1e792ef16ab4369433adc2423...,1946-02-18T11:40:03.166Z,79,2007-06-03T00:01:56.577Z,18,,None,https://randomuser.me/api/portraits/women/8.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
4,female,viktorija.stojanovic@example.com,014-8447-340,068-4384-175,RS,Miss,Viktorija,Stojanović,327,Sarićeva,...,150a755885a3dbc9d8b6992dff82421c486fe38c85250f...,1961-03-16T23:58:58.470Z,64,2016-03-29T11:50:14.069Z,9,SID,340757859,https://randomuser.me/api/portraits/women/79.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
5,male,janai.dias@example.com,(56) 6274-3258,(68) 5223-5056,BR,Mr,Janai,Dias,8823,Rua Vinte E Um,...,d82428b50ac1e6f4e9ff41cc264301922330c0b7817638...,1983-10-01T15:33:10.445Z,42,2016-05-07T04:26:46.985Z,9,CPF,528.950.117-22,https://randomuser.me/api/portraits/men/8.jpg,https://randomuser.me/api/portraits/med/men/8.jpg,https://randomuser.me/api/portraits/thumb/men/...
6,female,julia.ellis@example.com,021-389-5996,081-475-8892,IE,Miss,Julia,Ellis,3212,Patrick Street,...,6781beaac6e3ad76d806bf6ac4b8e083eaa0f0e833c108...,1968-02-17T00:10:42.509Z,57,2016-07-09T06:52:06.867Z,9,PPS,2782422T,https://randomuser.me/api/portraits/women/88.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...

## Python kulanarak manuel dönüştürme

In [12]:
import json
import csv

In [20]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

# Dosya okuma işlemi
with open('indir.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

# Veriyi düzleştir
flat_data = [flatten_json(item) for item in data['results']]

# CSV'ye yaz
if flat_data:
    keys = flat_data[0].keys()
    with open('output_manual.csv', 'w', newline='', encoding='utf-8-sig') as output_file:
        dict_writer = csv.DictWriter(output_file, fieldnames=keys)
        dict_writer.writeheader()
        dict_writer.writerows(flat_data)

In [18]:
df_manuel = pd.read_csv("output_manual.csv")
df_manuel.head(3)

,gender,name_title,name_first,name_last,location_street_number,location_street_name,location_city,location_state,location_country,location_postcode,...,registered_date,registered_age,phone,cell,id_name,id_value,picture_large,picture_medium,picture_thumbnail,nat
0,male,Mr,Necati,Bethke,3140,Rosenweg,Aub,Sachsen-Anhalt,Germany,21062,...,2012-11-06T10:17:14.436Z,13,0005-0495667,0170-1346040,SVNR,56 210649 B 497,https://randomuser.me/api/portraits/men/73.jpg,https://randomuser.me/api/portraits/med/men/73...,https://randomuser.me/api/portraits/thumb/men/...,DE
1,male,Mr,Reginald,Hicks,6263,York Road,Tralee,Donegal,Ireland,62276,...,2012-12-29T10:14:47.036Z,13,061-672-1222,081-376-3454,PPS,9681158T,https://randomuser.me/api/portraits/men/64.jpg,https://randomuser.me/api/portraits/med/men/64...,https://randomuser.me/api/portraits/thumb/men/...,IE
2,female,Ms,Miriam,Payne,2266,Photinia Ave,Coffs Harbour,Northern Territory,Australia,6716,...,2013-05-28T07:50:25.136Z,12,07-6621-6201,0411-775-314,TFN,352177099,https://randomuser.me/api/portraits/women/41.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...,AU